streamlit  
pandas2  

#Index
numpy  
matplotlib  
 
datetime2  
requests 
bs4 
beautifulsoup4  

#Profit
pandas-profiling 
streamlit-pandas-profiling  

#Portfolio
yfinance  

#Prediction
math
sklearn 

tensorflow   
keras 

#statement
yahoofinancials  
yahoo_fin 

